/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2020, 7:38:36 PM
    Author     : user
*/

.banner {
   
  text-align: center;
  color: orange;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
    
    